@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Girassol&family=Sigmar+One&display=swap');
$font-clistoga: 'Calistoga', cursive;
$font-girassol: 'Girassol', cursive;
$font-sigmar: 'Sigmar One', cursive;
$medium: 1.5rem;
